{% extends 'base.html.twig' %}

{% block title %}CookBook{% endblock %}

    {% block main %}
    {% block signForm %}
        <div id="js-form-up" class="closed">
            {{ render(controller(
                'App\\Controller\\RegistrationController::register')) }}
        </div>
        <div id="js-form-in" class="closed">
            {{ render(controller(
                'App\\Controller\\SecurityController::login')) }}
        </div>
    {% endblock signForm %}
    <section class="main-section">
        <ul>
            <li>CREATE</li>
            <li>DISCOVER</li>
            <li>SHARE</li>
        </ul>
        <article>
            <p>Sed velit augue, tempor quis euismod id, lobortis eu urna. Nunc suscipit sodales eleifend. Vivamus ac mi commodo, cursus turpis in, tempor sapien.</p>
            <p>Cras mollis justo mi, et pretium risus elementum id. Aliquam eros metus, eleifend nec euismod id, dignissim eget urna. </p>
        </article>
    </section>

    <section class="new-recipes">
        <div class="show-recipe-card">
            <img src="{{ asset('build/images/recipe-photos/Baked-Sweet-Potatoes-5.jpg') }}" alt="">
            <div class="infos-recipe">
                <h3>Baked Sweet Potatoes</h3>
                <p>Mauris et vestibulum magna, ut rhoncus lacus.</p>
            </div>
        </div>
        <div class="show-recipe-card">
            <img src="{{ asset('build/images/recipe-photos/Garlic-Butter-Baked-Salmon.jpg') }}" alt="">
        </div>
        <div class="show-recipe-card">
            <img src="{{ asset('build/images/recipe-photos/lasagna.jpg') }}" alt="">
        </div>
    </section>

    {% endblock main %}

