<div class="item add-item">
    <img src="{{ asset('build/images/icons/plus.svg') }}" onclick="window.location.href='{{ path('book_new') }}'" alt="">
</div>

{% for book in books %}
<div class="item">
    <img src="{{ asset('uploads/books/') }}{{ book.image }}"  alt="{{ book.title }}"/>
    <div class="infos-recipe">
        <h3>{{ book.title }}</h3>
    </div>
</div>
{% endfor %}
