<div class="add-item" id="add-item">
    <img src="{{ asset('build/images/icons/plus.svg') }}" alt="">
</div>

{% for book in books %}
<div class="item">
    {% include 'book/_delete_form.html.twig' %}

    <img class="item-img" src="{{ asset('uploads/books/') }}{{ book.image }}"  alt="{{ book.title }}"/>
    <div class="infos-recipe">
        <h3>{{ book.title }}</h3>
    </div>
</div>
{% endfor %}
