{% extends 'base.html.twig' %}

{% block title %}CookBook | My Book{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('interface') }}
{% endblock %}

{% block interface %}
    <section class="interface">
        {% if app.user %}
        {% block addForm %}
            <div id="js-form-add" class="closed">
                {{ render(controller(
                    'App\\Controller\\BookController::new')) }}
            </div>
        {% endblock addForm %}

        {% include 'book/_book.html.twig' %}
        {% endif %}
    </section>
{% endblock interface %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('interface') }}
{% endblock %}
