{% extends 'base.html.twig' %}

{% block title %}CookBook | My Book{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('interface') }}
{% endblock %}

{% block interface %}
    <section class="interface">
        {% block addForm %}
            <div id="js-form-add" class="closed">
                {#{{ render(controller(
                    'App\\Controller\\BookController::new')) }}#}
            </div>
        {% endblock addForm %}
        {% include 'recipe/_recipe.html.twig' %}
    </section>
{% endblock interface %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('interface') }}
{% endblock %}
